<h3 class="ui header">{{t "forms.i-i-s-novyjj1-акт-вып-раб-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.общСтоим
      class=(if (v-get validationModel "общСтоим" "isInvalid") "error")
      label=(t "forms.i-i-s-novyjj1-акт-вып-раб-e.общСтоим-caption")
      data-test-i-i-s-novyjj1-акт-вып-раб-e-общСтоим=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "общСтоим" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-novyjj1-акт-вып-раб-e.спрСотр-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.спрСотр
      relationName="спрСотр"
      projection="СпрСотрL"
      title=(t "forms.i-i-s-novyjj1-акт-вып-раб-e.спрСотр-caption")
      readonly=readonly
      componentName="спрСотрLookup"
      class=(if (v-get validationModel "спрСотр" "isInvalid") "error")
      data-test-i-i-s-novyjj1-акт-вып-раб-e-спрСотр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "спрСотр" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.спрСотр.фИО
      class=(if (v-get validationModel.спрСотр "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-novyjj1-акт-вып-раб-e.спрСотр.фИО-caption")
      data-test-i-i-s-novyjj1-акт-вып-раб-e-спрСотр-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.спрСотр "фИО" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-novyjj1-акт-вып-раб-e.тЧАкт-caption"}}</label>
    {{flexberry-groupedit
      componentName="тЧАктGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.тЧАкт
      content=model.тЧАкт
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "тЧАкт" "isInvalid") "error")
      data-test-i-i-s-novyjj1-акт-вып-раб-e-тЧАкт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧАкт" "message")}}
  </div>
</form>
