<h3 class="ui header">{{t "forms.i-i-s-novyjj1-док-смета-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-novyjj1-док-смета-e.номенклатура-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.номенклатура
      relationName="номенклатура"
      projection="НоменклатураL"
      title=(t "forms.i-i-s-novyjj1-док-смета-e.номенклатура-caption")
      readonly=readonly
      componentName="номенклатураLookup"
      class=(if (v-get validationModel "номенклатура" "isInvalid") "error")
      data-test-i-i-s-novyjj1-док-смета-e-номенклатура=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номенклатура" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.номенклатура.наимРабот
      class=(if (v-get validationModel.номенклатура "наимРабот" "isInvalid") "error")
      label=(t "forms.i-i-s-novyjj1-док-смета-e.номенклатура.наимРабот-caption")
      data-test-i-i-s-novyjj1-док-смета-e-номенклатура-наимРабот=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.номенклатура "наимРабот" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номСмеРас
      class=(if (v-get validationModel "номСмеРас" "isInvalid") "error")
      label=(t "forms.i-i-s-novyjj1-док-смета-e.номСмеРас-caption")
      data-test-i-i-s-novyjj1-док-смета-e-номСмеРас=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номСмеРас" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-novyjj1-док-смета-e.едИзмер-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.едИзмер
      relationName="едИзмер"
      projection="ЕдИзмерL"
      title=(t "forms.i-i-s-novyjj1-док-смета-e.едИзмер-caption")
      readonly=readonly
      componentName="едИзмерLookup"
      class=(if (v-get validationModel "едИзмер" "isInvalid") "error")
      data-test-i-i-s-novyjj1-док-смета-e-едИзмер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "едИзмер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.едИзмер.наименование
      class=(if (v-get validationModel.едИзмер "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-novyjj1-док-смета-e.едИзмер.наименование-caption")
      data-test-i-i-s-novyjj1-док-смета-e-едИзмер-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.едИзмер "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.общСметСт
      class=(if (v-get validationModel "общСметСт" "isInvalid") "error")
      label=(t "forms.i-i-s-novyjj1-док-смета-e.общСметСт-caption")
      data-test-i-i-s-novyjj1-док-смета-e-общСметСт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "общСметСт" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-novyjj1-док-смета-e.спрКонтраг-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.спрКонтраг
      relationName="спрКонтраг"
      projection="СпрКонтрагL"
      title=(t "forms.i-i-s-novyjj1-док-смета-e.спрКонтраг-caption")
      readonly=readonly
      componentName="спрКонтрагLookup"
      class=(if (v-get validationModel "спрКонтраг" "isInvalid") "error")
      data-test-i-i-s-novyjj1-док-смета-e-спрКонтраг=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "спрКонтраг" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.спрКонтраг.наименование
      class=(if (v-get validationModel.спрКонтраг "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-novyjj1-док-смета-e.спрКонтраг.наименование-caption")
      data-test-i-i-s-novyjj1-док-смета-e-спрКонтраг-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.спрКонтраг "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-novyjj1-док-смета-e.тЧСметы-caption"}}</label>
    {{flexberry-groupedit
      componentName="тЧСметыGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.тЧСметы
      content=model.тЧСметы
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "тЧСметы" "isInvalid") "error")
      data-test-i-i-s-novyjj1-док-смета-e-тЧСметы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧСметы" "message")}}
  </div>
</form>
